
parameters:
  instance_flavor: m1.large
  instance_flavor_controller: m1.large
  public_net_id: 627d621d-db43-4bcd-a403-814316c38fe9
  key_name: sshkey
  key_value: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDNhkg9euwCUAa3PyKAwvV09zWfd/3WmY5dEym5Kmx/UZKAQRSO+0+LCUNuPDor98AiOoy4uxJuPjiEueDsIjWj08jM7sfQpK6990Et/Rsh+aCMADDUrDqrNHzMd0js+BE2wEOdcncdflo6q5AmSx+bFLZzJRmgI/mtLzc9Wlia+pp22RIOWdWqc5Q3kn4YOca5THi4MeABnIvrVkS3x0i8cIMGQwlpnhoVxkJSTrqxEz64dd+b2KerV8Zju94jaA/IH3pbL8oKoeipChxtVZpQmq5rLGgz4u/QQnC3e9stfsjGzdNzciF3CN+6vQ0dv+MwbXbnHK42ikFwtaGkvoOP root@k8s-deploy
  availability_zone: nova
  k8s-master_name: k8s-master.workshop.cloudlab.cz
  k8s-deploy_name: k8s-deploy.workshop.cloudlab.cz
  k8s-gateway_name: k8s-gateway.workshop.cloudlab.cz
  k8s-node-01_name: k8s-node-01.workshop.cloudlab.cz
  k8s-node-02_name: k8s-node-02.workshop.cloudlab.cz
