parameters:
  # Following parameters are required to deploy workshop lab environment
  # Net id can be found in Horizon or by running `neutron net-list`
  private_net_id: 90699bd2-b10e-4596-99c6-197ac3fb565a
  # Your SSH key, deployed by salt_single_public stack
  key_name: my-key
  # Instance image to use, we recommend to grab latest tcp cloud image here:
  # http://apt.tcpcloud.eu/images/
  instance_image: ubuntu-14-04-x64-1437486976
  # Volume size of additional volume that can be used for Open vStorage Alba
  # backend
  # volume_size: 40
