parameters:
  instance_flavor: m1.medium
  instance_image: Ubuntu 14.04 Cloud image
  private_net_id: deb96fd6-0414-4468-846b-9b04f4c21328
  key_name: avg_testing
  private_net_name: avg_testing_auto
  private_net_cidr: 172.37.15.0/24
  private_net_pool_start: 172.37.15.100
  private_net_pool_end: 172.37.15.200